<% layout('layouts/boilerplate')%>

  <div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
      <form action="/campgrounds/<%= campground._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
        <div class="mb-3">
          <label class="form-label" for="title">Title</label>
          <input class="form-control" type="text" id="title" name="title" value="<%= campground.title %>" required>
        </div>
  
        <div class="mb-3">
          <label class="form-label" for="location">Location</label>
          <input class="form-control" type="text" id="location" name="location" value="<%= campground.location %>" required>
        </div>
  
        <div class="mb-3">
          <label class="form-label" for="images">Add/Update Images</label>
          <input type="file" name="images" id="images" multiple>
        </div>
        <div class="mb-3">
          <label class="form-label" for="price">Campground Price</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">$</span>
            <input type="text" class="form-control" value="<%= campground.price %>" id="price" name="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" required>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="description">Description</label>
          <textarea class="form-control" type="text" id="description" name="description"><%= campground.description %> </textarea>
        </div>
  
        <div class="mb-3">
          <button class="btn btn-success">Update Campground</button>
        </div>
        
      </form>
    
      <a href="/campgrounds/<%= campground._id%>">Back To Campground</a>  
    </div>
  </div>